<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Amazona</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- starting point for the website content -->
    <div class="grid-container">
      <header class="row">
        <div>
          <a href="index.html" class="brand">Amazona</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <!-- start point for the card -->
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img
                src="/template/image/running_man.jpeg"
                class="medium"
                alt=""
                srcset=""
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike slim shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <!-- end point for the card -->

          <!-- start point for the card -->
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img
                src="/template/image/running_man.jpeg"
                class="medium"
                alt=""
                srcset=""
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike slim shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <!-- end point for the card -->

          <!-- start point for the card -->
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img
                src="/template/image/running_man.jpeg"
                class="medium"
                alt=""
                srcset=""
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike slim shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <!-- end point for the card -->

          <!-- start point for the card -->
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img
                src="/template/image/running_man.jpeg"
                class="medium"
                alt=""
                srcset=""
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike slim shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <!-- end point for the card -->

          <!-- start point for the card -->
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img
                src="/template/image/running_man.jpeg"
                class="medium"
                alt=""
                srcset=""
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike slim shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <!-- end point for the card -->
        </div>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
    <!-- end point for the website content -->
  </body>
</html>
